
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowPhotos</title>
</head>
<body>
    @Html.Raw(ViewData["Photos"])
    
</body>
</html>
