@model IEnumerable<MyView.Models.NightMarket>

@{
    ViewData["Title"] = "來去逛夜市吧!!";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xl-4 col-md-6">
            <div class="card">
                <img src="/images/@(item.ID).jpg" class="img-thumbnail" />
                <div class="card-body">
                    <h2>@item.Name</h2>
                    <p>@item.Address</p>
                    <p class="text-end"><a href="https://www.google.com.tw/maps/search/@item.Address" target="_blank" class="btn btn-outline-danger">點我看地圖</a></p>
                </div>
            </div>
        </div>
    }
</div>




