USE [master]
GO
/****** Object:  Database [GoodStore]    Script Date: 2025/3/12 上午 11:33:50 ******/
CREATE DATABASE [GoodStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GoodStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GoodStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GoodStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GoodStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GoodStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GoodStore]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetNewMemberID]    Script Date: 2025/3/12 上午 11:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function[dbo].[fnGetNewMemberID] ()
    returns nchar(6)
begin
  DECLARE @newID nchar(6)
	DECLARE @numberPart int
	DECLARE @newNumberPart NVARCHAR(10)

	-- 取得最新的 MemberID
	SELECT TOP 1 @newID = MemberID
	FROM Member
	ORDER BY MemberID DESC

	-- 提取數字部分，轉換為整數
	SET @numberPart = CAST(SUBSTRING(@newID, 2, 5) AS INT)

	-- 加 1
	SET @numberPart = @numberPart + 1

	-- 將新的數字部分轉為字串，並確保補零至 5 位
	SET @newID = RIGHT('00000' + CAST(@numberPart AS NVARCHAR(5)), 5)

	-- 拼接回新的 MemberID
	return 'M' + @newID
	
end
GO
/****** Object:  UserDefinedFunction [dbo].[getOrderID]    Script Date: 2025/3/12 上午 11:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create FUNCTION [dbo].[getOrderID]()

    RETURNS CHAR(12)
AS
BEGIN
    DECLARE @TodayDate VARCHAR(8);
DECLARE @SerialNumber INT;
DECLARE @NewOrderID VARCHAR(12);

--取得今天的日期（格式: YYYYMMDD）
    SET @TodayDate = CONVERT(VARCHAR(8), GETDATE(), 112);

--查詢今天已有的訂單數量，並計算下一個流水號
SELECT @SerialNumber = ISNULL(MAX(CAST(SUBSTRING(OrderID, 9, 4) AS INT)), 0) + 1
    FROM [Order]
WHERE OrderID LIKE @TodayDate + '%';

--組合新的訂單編號，格式: YYYYMMDD + 4位數流水號
SET @NewOrderID = @TodayDate + RIGHT('0000' + CAST(@SerialNumber AS VARCHAR(4)), 4);

RETURN @NewOrderID;
END
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2025/3/12 上午 11:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CateID] [nchar](2) NOT NULL,
	[CateName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2025/3/12 上午 11:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [nchar](6) NOT NULL,
	[Name] [nvarchar](27) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Point] [int] NOT NULL,
	[Account] [nvarchar](12) NOT NULL,
	[Password] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK__Member__0CF04B38A211F86A] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2025/3/12 上午 11:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [nchar](12) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[MemberID] [nchar](6) NOT NULL,
	[ContactName] [nvarchar](27) NOT NULL,
	[ContactAddress] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2025/3/12 上午 11:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [nchar](12) NOT NULL,
	[ProductID] [nchar](5) NOT NULL,
	[Qty] [int] NOT NULL,
	[Price] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2025/3/12 上午 11:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [nchar](5) NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[Price] [money] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Picture] [nvarchar](12) NOT NULL,
	[CateID] [nchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CateID], [CateName]) VALUES (N'A1', N'一般飲料')
INSERT [dbo].[Category] ([CateID], [CateName]) VALUES (N'A2', N'咖啡')
INSERT [dbo].[Category] ([CateID], [CateName]) VALUES (N'A3', N'啤酒')
GO
INSERT [dbo].[Member] ([MemberID], [Name], [Gender], [Point], [Account], [Password]) VALUES (N'M00001', N'王小明', 1, 0, N'abc', N'D04C2178E49C9673F73919B659A6EE83E06F3B95FE49E6FD225AED2E56C69990')
INSERT [dbo].[Member] ([MemberID], [Name], [Gender], [Point], [Account], [Password]) VALUES (N'M00002', N'陳小美', 0, 0, N'abc123', N'E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855')
INSERT [dbo].[Member] ([MemberID], [Name], [Gender], [Point], [Account], [Password]) VALUES (N'M00003', N'JackWang', 1, 0, N'jackwang', N'ef797c8118f02dfb649607dd5d3f8c7623048c9c063d532cc95c5ed7a898a64f')
GO
INSERT [dbo].[Order] ([OrderID], [OrderDate], [MemberID], [ContactName], [ContactAddress]) VALUES (N'202503110001', CAST(N'2025-03-11T14:33:01.600' AS DateTime), N'M00004', N'王美美', N'高雄市前金區中華四路293號7樓')
INSERT [dbo].[Order] ([OrderID], [OrderDate], [MemberID], [ContactName], [ContactAddress]) VALUES (N'202503120001', CAST(N'2025-03-12T09:29:40.030' AS DateTime), N'M00004', N'JackWang', N'高雄市前鎮區凱旋四路105號')
GO
INSERT [dbo].[OrderDetail] ([OrderID], [ProductID], [Qty], [Price]) VALUES (N'202503110001', N'A2002', 1, 89.0000)
INSERT [dbo].[OrderDetail] ([OrderID], [ProductID], [Qty], [Price]) VALUES (N'202503110001', N'B1001', 3, 45.0000)
INSERT [dbo].[OrderDetail] ([OrderID], [ProductID], [Qty], [Price]) VALUES (N'202503110001', N'B2001', 1, 22.0000)
GO
INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [Description], [Picture], [CateID]) VALUES (N'A2001', N'濃縮咖啡', 99.0000, N'高品質濃縮咖啡，適合用來製作各種咖啡飲品。', N'A2001.jpg', N'A2')
INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [Description], [Picture], [CateID]) VALUES (N'A2002', N'即溶咖啡', 89.0000, N'快速沖泡即飲咖啡，隨時享受濃郁的咖啡香氣。', N'A2002.jpg', N'A2')
INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [Description], [Picture], [CateID]) VALUES (N'A3001', N'精釀啤酒', 129.0000, N'經典手工釀造啤酒，口感醇厚，適合與朋友聚會時享用。', N'A3001.jpg', N'A3')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Member__B0C3AC4646969FD1]    Script Date: 2025/3/12 上午 11:33:50 ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [UQ__Member__B0C3AC4646969FD1] UNIQUE NONCLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF_Member_MemberID]  DEFAULT ([dbo].[fnGetNewMemberID]()) FOR [MemberID]
GO
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF__Member__Point__403A8C7D]  DEFAULT ((0)) FOR [Point]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__MemberID__4316F928] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__MemberID__4316F928]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CateID])
REFERENCES [dbo].[Category] ([CateID])
GO
/****** Object:  StoredProcedure [dbo].[AddNewOrder]    Script Date: 2025/3/12 上午 11:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[AddNewOrder]
	@MemberID nchar(6),
	@ContactName nvarchar(27),
	@ContactAddress nvarchar(60),
	@Cart nvarchar(max)

as 
begin
	begin tran  --開始交易程序
		declare @OrderID nchar(12) = dbo.getOrderID()
		insert into [Order] values(@OrderID, getdate(), @MemberID, @ContactName, @ContactAddress)		--資料來自表單
		if @@ERROR=0			--如果insert出錯，就停止並完全取消交易，Error=0則是交易成功，繼續做下一筆
		begin
			--把Json塞進資料表的做法，使用with來標注欄位的屬性
			insert into OrderDetail
			select @OrderID, PID, Qty, Price from openjson(@Cart) with(PID nchar(5), Qty int, Price money)
			
			if @@ERROR=0
			commit
		else
				rollback
		end
	else
		rollback			--完全取消

end
GO
USE [master]
GO
