@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">哇~發生問題了!!</h1>
<h2 class="text-danger">不好意思!!可能是目前伺服器忙碌中，你知道我是靠臉吃飯的，很多人要來拜訪我</h2>

<img src="~/bookphotos/fb2e464e-1868-45f4-a9e1-a2e4c88a14e9.jpg" />