@model IEnumerable<GoodStore.Models.OrderDetail>

@{
    Layout = null;
}

<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:100px">
                    <img src="/ProductPhotos/@item.Product.Picture" class="img-thumbnail" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>


            </tr>
        }
    </tbody>
</table>
