@model MyModel_CodeFirst.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-lg-5">
        @* //2.4.2 修改Create View，將<form>增加 enctype="multipart/form-data" 屬性 *@
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="BookID" value="@Guid.NewGuid()" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                @*   <input asp-for="Photo" class="form-control" /> *@
                @* //2.4.1 修改Create View，修改上傳檔案的元件 *@
                <input type="file" name="newPhoto" id="Photo" class="form-control" />
                <span class="text-danger">@ViewData["Message"]</span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="確定留言" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-lg-7">
        <img id="photoPreview" class="img-fluid" />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @* //2.4.3 加入前端效果，使照片可先預覽 *@

    <script>
        $('#Photo').change(function(){
            let file = this.files[0];

            let reader = new FileReader();

            reader.onload=function(event){
                 $('#photoPreview').attr('src',event.target.result);
            };
            reader.readAsDataURL(file);
        });
    </script>


}
