<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 夜市大蒐集</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyView.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">逛夜市</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexRWD">首頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Razor">Razor練習</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">隱私權政策</a>
                        </li>
                    </ul>
                    <div>
                        <a asp-controller="Login" asp-action="Login" class="btn btn-warning">登入</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="mt-4 p-5 text-dark rounded jumbotron mb-4">

            <h1 class="h1Shadow fw-bold bg-light bg-opacity-75 p-4 rounded">
                台灣的重要文化 夜市
                <br>
                <small>來去逛夜市吧!!</small>
            </h1>

            <hr>
            <button class="btn btn-success btn-lg">看更多夜市資訊...</button>

        </div>


        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            Copyright &copy; 2024 - MyView - <a asp-area="" asp-controller="Home" asp-action="Privacy">隱私權政策</a>
            本站最後更新時間：@DateTime.Now
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
